
* {
    box-sizing: border-box;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #315299;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 100px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}


.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: repeat;
}

.header_bg {
    width: 100%;
    float: left;
    background-image: url(../images/header-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: repeat;
}
.header_bg .navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
}

.bg-light {
    background-color: transparent !important;
}

.mr-auto,
.mx-auto {
    margin: 0 auto;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 3px 10px;
    font-size: 17px;
    color: #a9a8a8;
    border-radius: 5px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #4c4c4c;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #4c4c4c;
}

.navbar-brand {
    margin: 0px;
    float: right;
}

.navbar {
    padding: 15px 50px;
}

.user_icon {
    padding-right: 15px;
}

.login_bt {
    width: 210px;
}

.login_bt ul {
    margin: 0px;
    padding: 0px;
}

.login_bt li a {
    float: left;
    font-size: 18px;
    color: #315299 ;
    text-transform: uppercase;
    padding: 0px 0px 0px 50px;
}

.login_bt li a:hover {
    color: #4c4c4c;
}

.banner_section {
    width: 100%;
    float: left;
    padding: 90px 0px 100px 0px;
}

.banner_taital_main {
    width: 100%;
    float: left;
    padding-top: 80px;
}

.banner_taital {
    width: 100%;
    font-size: 90px;
    color: #315299;
    font-weight: 800;
}

.tasty_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #315299;
    font-weight: bold;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #315299;
    margin: 0px;
}

.btn_main {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.about_bt {
    width: 175px;
    float: left;
}

.about_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #315299;
    color: #fefefd;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
}

.about_bt a:hover {
    color: #fefefd;
    background-color: #315299;
}

.callnow_bt {
    width: 175px;
    float: left;
}

.callnow_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #315299;
    color: #315299 ;
    text-align: center;
    padding: 12px;
    margin-left: 10px;
    border-radius: 5px;
}

.callnow_bt a:hover {
    color: #fefefd;
    background-color: #315299;
}

.callnow_bt.active a {
    color: #fefefd;
    background-color: #315299;
}

#banner_slider a.carousel-control-prev {
    left: -120px;
    top: 455px;
}

#banner_slider a.carousel-control-next {
    right: 0px;
    top: 400px;
    left: -120px;
    color: #fefefd;
    background-color: #315299;
}

#banner_slider .carousel-control-next,
#banner_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #315299;
    background-color: #efefef;
}

#banner_slider .carousel-control-next:focus,
#banner_slider .carousel-control-next:hover,
#banner_slider .carousel-control-prev:focus,
#banner_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #315299;
}

.banner_img {
    width: 100%;
    float: left;
    text-align: center;
}


.product_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    background-image: url(../images/banner-bg.png);
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
}

.product_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #315299;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.product_section_2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.bulit_icon {
    width: 100%;
    text-align: center;
}

.product_img img {
    width: 100%;
    float: left;
}

.types_text {
    width: 100%;
    float: left;
    font-size: 22px;
    color: #315299;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.looking_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #315299;
    text-align: center;
    margin: 0px;
}

.read_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #d78373;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #d78373;
    text-transform: uppercase;
    padding: 8px;
}

.read_bt a:hover {
    color: #315299;
    border: 1px solid #315299;
}

#main_slider .carousel-control-prev::before {
    content: '\2190'; 
    font-size: 30px;
    color: inherit;
    display: inline-block;
    vertical-align: middle;
}

#main_slider .carousel-control-next::before {
    content: '\2192'; 
    font-size: 30px;
    color: inherit;
    display: inline-block;
    vertical-align: middle;
}

#main_slider a.carousel-control-prev {
    left: -50px;
    top: 95px;
}

#main_slider a.carousel-control-next {
    right: -50px;
    top: 95px;
    color: #fefefd;
    background-color: #315299;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #315299;
    background-color: #efefef;
    text-align: center; 
    line-height: 55px; 
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #315299;
}


.about_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    background-image: url(../images/banner-bg.png);
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
}

.about_section_2 {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #315299;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.about_taital_box {
    width: 500px;
    float: left;
    background-color: #ffffff;
    height: auto;
    padding: 40px 20px 30px 20px;
    box-shadow: 0px 0px 30px 0px;
    position: absolute;
    top: 1550px;
}

.image_iman {
    padding-left: 250px;
    position: repeat;
}

.about_img {
    width: 100%;
}

.about_taital_1 {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #315299;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #315299;
    margin: 0px;
}

.readmore_btn {
    width: 170px;
    float: left;
    margin-top: 40px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #d78373;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #fc947f;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.readmore_btn a:hover {
    color: #315299;
    border: 1px solid #315299;
}


.feedback_section {
    width: 100%;
    float: left;
    background-image: url(../images/feedback-bg.png);
    height: auto;
    background-size: 100% 100%;
    padding-bottom: 100px;
}

.feedback_section_2 {
    width: 100%;
    float: left;
}

.feedback_taital_main {
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.feedback_left {
    width: 20%;
    float: left;
    padding-left: 50px;
}

.feedback_img {
    width: 90%;
}

.feedback_right {
    width: 80%;
    float: left;
    padding-top: 20px;
}

.moark_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #315299;
    font-weight: bold;
}

.icon_link {
    margin-left: 10px; 
    display: inline-block;
}

.icon_link img {
    width: 2px; 
    height: 2px; 
}

.bulit_icon img {
    width: auto; 
    height: auto; 
}

.feedback_text {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}

.feedback_text {
    width: 75%;
    float: left;
    font-size: 20px;
    color: #315299;
    margin: 0px;
}

.blog_section {
    width: 100%;
    float: left;
}

.blog_section_2 {
    width: 100%;
    float: left;
    padding-top: 60px;
}

.blog_box {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px;
    padding: 0px 0px 30px 0px;
}

.blog_img {
    width: 100%;
}

.date_text {
    width: 100px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: red;
    position: absolute;
    top: -10px;
    left: 5px;
}

.prep_text {
    width: 100%;
    font-size: 20px;
    color: #315299;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 20px 10px 20px;
}

.lorem_text {
    width: 100%;
    font-size: 14px;
    color: #315299;
    margin: 0px;
    padding: 0px 20px;
}


.order_section {
    width: 100%;
    float: left;
}

.order_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #315299;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.order_section_2 {
    width: 100%;
    float: left;
    padding-top: 55px;
}

.padding_left_0 {
    padding-left: 0px;
}

.mail_section_1 {
    width: 50%;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2e2e2d;
    border: 0px;
    background-color: #efefef;
    padding: 11px 20px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
}

input.mail_text::placeholder {
    color: #2e2e2d;
}

.massage-bt {
    color: #2e2e2d;
    width: 100%;
    height: 110px;
    font-size: 18px;
    background-color: #efefef;
    padding: 40px 20px 0px 20px;
    border: 0px;
    height: 110px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
}

textarea#comment.massage-bt::placeholder {
    color: #2e2e2d;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fefefd;
    background-color: #315299;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    font-weight: bold;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.send_bt a:hover {
    color: #fefefd;
    background-color: #315299;
}

.map_main {
    width: 100%;
    float: left;
    margin-top: 90px;
}


.footer_section {
    width: 100%;
    float: left;
    height: auto;
    background-image: url(../images/footer-bg.png);
    background-size: 100% 100%;
    padding: 90px 0px 0px 0px;
}

.address_text {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
    color: #fefefd;
    font-weight: bold;
    padding-bottom: 30px;
}

.footer_text {
    width: 60%;
    margin: 0 auto;
    font-size: 24px;
    color: #fefefd;
    text-align: center;
}

.location_text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.location_text ul {
    margin: 0px;
    padding: 0px;
}

.location_text li {
    font-size: 16px;
    color: #ffffff;
    padding: 0px 0px 5px 0px;
}

.location_text li a {
    color: #ffffff;
}

.location_text li a:hover {
    color: #d07d6b;
}

.padding_left_10 {
    padding-left: 10px;
}


.margin_top90 {
    margin-top: 90px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline-container {
    padding: 10px 40px;
    position: relative;
    background: #fff;
    width: 50%;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
}

.timeline-container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #315299;
    border: 4px solid #EDCD4C;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::before {
    content: " ";
    height: 100%;
    width: 3px;
    background-color: #315299;
    position: absolute;
    top: 0;
    left: -3px;
    margin-left: -3px;
}

.left::before {
    content: " ";
    height: 100%;
    width: 3px;
    background-color: #315299;
    position: absolute;
    top: 0;
    right: -3px;
    margin-right: -3px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.date {
    font-size: 18px;
    color: #315299;
    font-weight: bold;
}

.timeline-container img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline-container::before {
        left: 60px;
        border: none;
    }

    .left::before, .right::before {
        left: 60px;
    }
}
.menu-book {  
  display: flex;  
  flex-direction: row;  
  justify-content: center;  
  margin-top: 20px;  
} 

.menu-page {  
  width: auto; 
  height: auto; 
  background-color: #315299;  
  border: 0px solid #ddd;  
  margin: 10px;  
  padding: 20px;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
}  
  
.menu-page img {  
  width: 100%;  
  height: 100%;  
  object-fit: cover;  
}

.menu-book1 {  
  display: flex;  
  flex-direction: row;  
  justify-content: center;  
  margin-top: 20px;  
} 

.menu-page1 {  
  width: 600px; 
  height: 800px; 
  background-color: #315299;  
  border: 0px solid #ddd;  
  margin: 0px;  
  padding: 0px;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
}  
  
.menu-page1 img {  
  width: 100%;  
  height: 100%;  
  object-fit: cover;  
}

.video-section {  
  text-align: center;  
  margin-top: 20px;  
}  
  
.landscape-video {  
  margin-bottom: 20px;
  
}  
  
.portrait-videos {  
  display: flex;  
  flex-wrap: wrap;  
  justify-content: center;  
}  
  
.video-wrap {  
  width: 25%;  
  margin: 10px;  
}  
  
.video-link {  
  display: block;  
  text-align: center;  
  margin-top: 10px;  
}

      .vision-mission-section {
         background-color: #EDCD4C;
         padding: 40px 0;
         text-align: center;
		 font-size: 28px;
         margin-top: 30px;
      }

      .vision-mission-section h2 {
         font-size: 28px;
         color: #315299;
         margin-bottom: 20px;
      }

      .vision-mission-section p {
         font-size: 44px;
         line-height: 1.6;
         color: #666;
         margin-bottom: 30px;
         max-width: 800px;
         margin-left: auto;
         margin-right: auto;
      }
        .vision_mission_links {
            text-align: center;
            margin-top: 20px;
        }
        .vision_mission_links a {
            display: inline-block;
            margin: 10px;
            padding: 12px 24px;
            text-decoration: none;
            color: #fff;
            background-color: #315299;
            border: 4px solid #EDCD4C;
            border-radius: 5px;
            transition: all 0.3s ease;
			font-size: 22px; 
        }
        .vision_mission_links a:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
        .vision-container {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin-top: 50px;
        }
        .vision-container .vision-image {
            flex: 1;
            margin-right: 30px;
        }
        .vision-container .vision-text {
            flex: 2;
        }
        .vision-container img {
            max-width: 100%;
            height: auto;
            display: block;
        }
        .vision-container .vision-text p {
            font-size: 24px;
            line-height: 1.6;
            margin-bottom: 15px;
        }
		.cmenu-container {
            display: flex;
            align-items: center;
            margin-top: 50px;
        }
        .cmenu-container .cmenu-image {
            flex: 1;
            margin-right: 30px;
        }
        .cmenu-container .cmenu-text {
            flex: 2;
        }
        .cmenu-container img {
            max-width: 100%;
            height: auto;
            display: block;
        }
        .cmenu-container .cmenu-text h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        .cmenu-container .cmenu-text ul {
            list-style-type: disc; 
            padding-left: 20px;
        }
        .cmenu-container .cmenu-text ul li {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 10px;
        }
        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; 
            width: 100%;
            overflow: hidden; 
        }
        .image-container img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain; 
        }
	        .contact-section {
            padding: 50px 0;
            text-align: center;
            background-color: #f9f9f9;
        }
        .contact-section h2 {
            font-size: 36px;
            color: #315299;
            margin-bottom: 20px;
        }
        .contact-section p {
            font-size: 18px;
            line-height: 1.6;
            color: #666;
            max-width: 600px;
            margin: 0 auto 20px auto;
        }
        .contact-icons {
            display: flex;
            justify-content: center;
            gap: 30px;
        }
        .contact-icons a {
            color: #315299;
            font-size: 48px;
            transition: color 0.3s;
        }
        .contact-icons a:hover {
            color: #333;
        }
    </style>